.common-body{
    background-image: url(../images/background.jpg);
    width: auto;
     /* Full height */
  height: 100%;
  margin-top: 2px;
  margin-left: 5px;
  /* Center and scale the image nicely */
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  
}

.header-class{
    height: 60px;
    width: auto;
    
}

.header-bar{
    display: flex;
    flex-direction: row;
    align-items: initial;
    

}


.side-logo{ 
    margin-left: 5px;
    padding: 1px;
    margin: 2px;
}

.home-buttons{
    margin-left: 1000px;
    margin-top: 6px;
    
    
}

 .button-class{
    height: 35px;
    text-align: center;
    font-size: 15px;
    background-color: blue; 
     color:white;
    
} 


.post-buttons{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 45%;
    
}


.centre-button{
    position: relative;
    top: 50%;
    transform: translateY(750%);
    margin: 5px;
    background-color: darkgoldenrod;
    color: black;
    text-align: center;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

